/* screen 1 */
#homescreen{
    align-content: center;
    text-align: center;
}
#begin{
    font-size: 2em;
    width: 10em;
    height: 3em;
    margin-top: 5%;
}

/* screen 2 */
#levelscreen{
    align-content: center;
    text-align: center;
    margin-top: 15%;
}
.level_button{
    font-size: large;
    height:2em;
    width:5em;
    margin-inline:2em;
    border-width: 3px;  
}

/* screen 3 */


#display{  
    width: 300px;
    height: 100px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    font-size: 3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top:25px;
}

#buttons{
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

#start{
    width:5em;
    height:3em;
    margin-right:6.5em;
    background-color: #71f492;
}
#start:hover{
    border-width: 3px;
}

#finish{
    width:5em;
    height:3em;
    margin-left:6.5em;
    background-color: coral;

}
#finish:hover{
    border-width: 3px;
}


/* screen 4 */

#statscreen{
    text-decoration:underline;
    align-content: center;
    text-align: center;
}

#correct_ks{
    color: greenyellow;
}
#wrong_ks{
    color: red;
}

/* common elements and else */
#quote{
    margin-top: 10vh;
    text-align: center;
    margin-bottom: 15vh;
}

#dt{
    position: fixed;
    right:0;
    bottom: 0;
    margin: 1em;

}
.hidden_screen{
    display: none;
}